.card{
    background-color: #fff;
  box-shadow: -2px 0px 13px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 0px 13px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 13px -6px rgba(0,0,0,0.75);;
    padding: 3px;
    border-radius: 8px;

}