
.container{

text-align: center; 
/* padding: 20px; */
}
.content .content{
    margin: 0px 0px 0px 90px;  
   
}
.container h3{
    text-align: center;
    margin-top: 30px;
}
.content{
    margin: 50px 0px;
    /* background-color:red; */
    padding: 40px;
}
.content .row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    margin: 0px 20px;
}
.menu_list .card_body{
    padding: 10px;
}
.card_body .image{
    text-align: center;
}
.menu_list .card_body .image img{
    width: 200px;
    height: 200px ;
   
}