:root{
    --dark-blue: #002B5B;
    --white-color: #fff;
    --white-smoke: #f4f4f4;
    --dark: #2C3333;
    --blue: #4E31AA;
    --orange: #B8621B;
}
.container{
    background-color: var(--white-smoke);
    padding: 20px;
    margin-top: auto;
}
.footer p{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--dark-blue);
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_links {
    margin-right: 20px;
}
.footer_links i{
    margin: 0px 6px;
    font-size: 23px;
    color: var(--dark-blue);
    cursor: pointer;
    /* transition: 0.8s ease-in-out; */
}
.footer_links i:hover{
    color: var(--dark-blue);
}