
:root{
    --dark-blue: #002B5B;
    --white-color: #fff;
    --white-smoke: #f4f4f4;
    --dark: #2C3333;
    --blue: #4E31AA;
    --orange: #B8621B;
}
.container{
    background-color: var(--white-color);
    width: 100%;
    box-shadow: -2px 0px 13px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 0px 13px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 13px -6px rgba(0,0,0,0.75);
    
}
.nav{
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items:center
}
.nav ul{
    margin-bottom: 10px;
}
.nav ul li{
    display: inline;
    margin: 0px 12px;
}
.brand_title{
    display: flex;
    padding: 20px 13px;
    align-items: center;
}
.brand_title i{
    margin-right: 8px;
    font-size: 30px;
    color: var(--orange)

}

.brand_header{
    color: var(--dark-blue);
    font-weight: bolder;
    font-size: 18px;
    font-family: sans-serif;
    cursor: pointer;

}

.brand_title h6{
    color: white;
    font-weight: bolder;
    font-size: 18px;
    font-family: serif;
}

.icon{
    color: var(--dark);
    opacity: 0.9;
}
.settings{
    font-weight: bolder;
    color: var(--dark-blue);
    cursor: pointer;
    font-family: sans-serif;
    transition: 0.8s ease-in-out;

}
.settings:hover{
    color: var(--orange)
}
.logout{
   
    background-color: var(--orange);
    padding: 9px;
    border-radius: 10px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}
.list_items{
    margin: 20px 10px;
}
.list_items .row .link{
    display: flex;
    align-items:center;
    margin-bottom: 25px;
    margin-left: 9px;
    cursor: pointer;
    

}
.links p{
    color: var(--white-smoke);
    opacity: 0.7;
    margin: 0px 0 26px 0px;
}
.link i{
    color: var(--orange)
}
.link span{
    margin-left: 10px;
    font-weight: 600;
    font-size: 19px;
    font-family: sans-serif;
    color: var(--white-smoke);
    transition: 0.08s ease-in-out;
}
.link:hover  span{
    /* background-color: var(--dark-blue); */
    color: var(--orange)
}