.container{
    padding: 20px;
    margin: 30px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.06);
   
}

.form-group label{
 display: block;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 margin-bottom: 8px;
}
.form-group input{
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid green;

}

.form-group .btn{
    width: 140px;
    margin: 9px 0px;
}
